.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.log

output
logs
assets
models

.venv
venv
env

piper_tts/.venv
wav2lip/Wav2Lip/venv
wav2lip/Wav2Lip/checkpoints
wav2lip/Wav2Lip/results
wav2lip/Wav2Lip/temp

node_modules
.cache
pytest_cache
.mypy_cache

*.mp4
*.wav
*.png
*.jpg
*.jpeg

docker-compose.yml