#header {
    font-size: 22px;
    hight: 110px;
    display: inline-flex;
    align-content: center;
    border-style: double;
    border-color: #006666;
}

#trainings {
    align-self: center;
    margin-left: 50px;
    margin-right: 20px;
}

#username {
    margin-left: 20px;
}
