body {
    width: calc(100% - 10px);
}
#header {
    font-size: 20px;
    display: inline-flex;
    justify-content: space-between;
    border-style: double;
    border-color: #006666;
    width: calc(100% - 10px);
    overflow: auto;
}

#header > a, #header > p {
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}
