.table {
    border-collapse: collapse;
    margin-top: 5px;
}

.center-align-table {
    text-align: center;
}

.table > tr > td,
.table > tr > th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.button_action{
    padding: 10px 15px;
    background-color: #2f5cff;
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.button_action:disabled {
    background-color: #7f7f7f;
    cursor: default;
}
.button_action:not(:disabled):hover{
    background-color: #4b6eff;
}
.container-navigation{
    display: flex;
    gap: 10px;
}