.table {
    border-collapse: collapse;
    margin-top: 5px;
}

.center-align-table {
    text-align: center;
}

.table > tr > td,
.table > tr > th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
