.table {
    border-collapse: collapse;
    text-align: center;
    margin-top: 5px;
}
.table > tr > td,
.table > tr > th {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
