#timer {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#tutorial {
    font-size: 150%;
    margin-bottom: 5%;
}
#next{
    margin-left: 5%;
}
#done{
    margin-left: 5%;
}
#controls{
    margin-top: 3%;
    margin-bottom: 2%;
}
.tutorButtons{
    width: 80px;
    height: 30px;
}
.model {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.model-content{
    background-color: #f2dede;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ebccd0;
    width: 50%;
    text-align: center;
    color: #a94442;
    font-size: 20px;
}
#record-contain{
    display: flex;
    font-size: 18px;
    margin-top: 1%;
    align-items: center;
    gap: 30px;
}
.pulse{
    position: relative;
    text-align: center;
    /* left: 25px; */
    border-radius: 50%;
    background: #ff0000;
    width: 20px;
    height: 20px;
}
.pulse::after,
.pulse::before{
    content: '';
    position: absolute;
    border: 2px solid #CC000C;
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
}
.pulse::after{
    animation-delay: 1.25s;
}

@keyframes pulse{
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
