{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/training_statistics.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="base-container">
    <h3>{{ title }}</h3>
    <h3 id="feedback">{{ feedback }}</h3>
    <div id="criteria-results"></div>
    <div id="verdict"></div>
    <h3>{{ remaining_processing_time_estimation }}</h3>
    <h3>id тренировки: {{ training_id }}. {{ training_status }}</h3>
    <h3>id презентации: {{ presentation_file_id }}. {{ presentation_status }}</h3>
    <h3>Название презентации: {{ presentation_file_name }}</h3>
    <h3>id аудиозаписи: {{ presentation_record_file_id }}. {{ audio_status }}</h3>
    <div id="next-training" style="visibility: hidden; font-size: 0">
        <h3 id="training-number"></h3>
        <h3 id="current-points"></h3>
        <button id="next-training-button">Следующая тренировка</button>
        <br>
    </div>
    <audio controls src="/api/files/presentation-records/{{ presentation_record_file_id }}/"></audio>
    <table class="table transcription-table" id="per-slide-audio-transcription-table"></table>
</div>
<script src="{{ url_for('static', filename='js/libraries/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/training_statistics.js') }}"></script>
<script type="text/javascript">
    setVerdict("{{ verdict }}");
    setPerSlideAudioTranscriptionTable("{{ training_id }}");
    setCriteriaResults("{{ criteria_results }}");
</script>
{% endblock %}
