{% extends "base.html" %} {% block content %}
<div class="base-container">
    <a href="/show_all_trainings">{{ t("Все тренировки") }}</a>
    <br>
    <a href="/show_all_presentations">{{ t("Все презентации") }}</a>
    <br>
    <a href="{{url_for("routes_criterion.get_criterions")}}" target="_blank">{{ t("Критерии") }}</a>
    <br>
    <a href="{{url_for("routes_criterion.get_packs")}}" target="_blank">{{ t("Наборы критериев") }}</a>
    <br>
    <a href="/get_logs">{{ t("Все логи") }}</a>
    <br>
    <a href="/dumps" target="_blank">{{ t("Архивы БД") }}</a>
    <br>
    <a href="/version" target="_blank">{{ t("Версия") }}</a>
</div>
{% endblock %}
