{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/css/training.css">
{% endblock %}

{% block content %}

<div>
  <canvas id="the-canvas" style="border: 1px solid #000000; direction: ltr;"></canvas>
</div>

<script src="{{ url_for('static', filename='js/libraries/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libraries/pdf.js/build/pdf.js') }}"></script>
<script src="{{ url_for('static', filename='js/libraries/WebAudioRecorder.js/WebAudioRecorder.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/presentation.js') }}"></script>

{% endblock %}
