{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
{% endblock %}

{% block content %}
<table id="all-trainings-table" class="table center-align-table"></table>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/show_all_trainings.js') }}"></script>
<script type="text/javascript">
    call_get_all_trainings("{{ username }}", "{{ full_name }}");
</script>
{% endblock %}
