{% extends 'base.html' %} {% block content %}
<div class="base-container">
    <h3>{{ _("Задание для тренировки") }}: {{ task_id }}</h3>
    <h3>{{ _("Описание задания") }}: {{ task_description }}</h3>
    <h3>{{ _("Проходной балл") }}: {{ required_points }} / {{ maximal_points}}</h3>
    <h3>{{ _("Номер попытки") }}: {{ attempt_number }}</h3>
    <h3>{{ _("Номер тренировки") }}: {{ training_number }} / {{ attempt_count }}</h3>
    <h3>{{ _("Сумма баллов за предыдущие тренировки") }}: {{ current_points_sum }}</h3>
    <h3>{{ _("Номер набора критериев") }}: {{ criteria_pack_id }}</h3>
    <div id="criteria-pack-description">{{ criteria_pack_description }}</div>
    <button id="start-training-button" type="button" onclick="location.href={{ url_for('routes_presentations.view_presentation_upload') }}">{{ _("Начать") }}</button>
</div>
<script src="{{ url_for('static', filename='js/training_greeting.js') }}"></script>
<script type="text/javascript">
    setCriteriaPackDescription("{{ criteria_pack_description }}");
</script>
{% endblock %}
