{% extends 'base.html' %} {% block content %}
<div class='container'>
    <h2>{{ feedback }}</h2>
    <h2>{{ presentation_name }}</h2>
    <h2>id презентации: {{ presentation_file_id }}</h2>
    <h2>id тренировки: {{ training_id }}</h2>
    <h2>id аудиозаписи: {{ presentation_record_file_id }}</h2>
    <div id="next-training">
        <h2 id="training-number"></h2>
        <h2 id="current-points"></h2>
        <button id="next-training-button">Следующая тренировка</button>
        <br>
    </div>
    <audio controls src="/get_presentation_record?presentationRecordFileId={{ presentation_record_file_id }}"></audio>
</div>
<script src="{{ url_for('static', filename='js/training_statistics.js') }}"></script>
{% endblock %}
