{% extends 'base.html' %} {% block content %}
<div class='container'>
    <h2>Пользователь: {{ username }}</h2>
    <h2>Задание для тренировки: {{ task_id }}</h2>
    <h2>Описание задания: {{ task_description }}</h2>
    <h2>Номер попытки: {{ attempt_number }}</h2>
    <h2>Номер тренировки: {{ training_number }} / {{ attempt_count }}</h2>
    <h2>Баллы за предыдущие тренировки: {{ current_points }}</h2>
    <h2>Проходной балл: {{ required_points }}</h2>
    <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
        <input type="submit" value="Начать">
    </form>
</div>
{% endblock %}
