<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Training</title>
</head>
<body>
<div id="controls">
  <button id="record">Record</button>
  <button id="next" disabled>Next</button>
  <button id="done" disabled>Done</button>
  &nbsp; &nbsp;
  <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
  <p id="record_processing" style="visibility: hidden; font-size: 0">Your record is being processed. Please don't leave the page.</p>
</div>
<div>
  <canvas id="the-canvas" style="border: 1px solid #000000; direction: ltr;"></canvas>
</div>

<script src="static/js/libraries/jquery.min.js"></script>
<script src="static/js/libraries/pdf.js/build/pdf.js"></script>
<script src="static/js/libraries/WebAudioRecorder.js/WebAudioRecorder.min.js"></script>
<script src="static/js/training.js"></script>
<script type="text/javascript">
    setPresentationFileId("{{ presentation_file_id }}");
</script>
<script src="static/js/recording.js"></script>
</body>
</html>
