{% extends 'base.html' %}

{% block header %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>

    function onChange(){
        if($('#file-loading').val()!=""){
            $('#button-submit').removeAttr('disabled');
        } else {
            $('#button-submit').attr('disabled',true);
        }
    }
</script>
{% endblock %}

{% block content %}

<h3>Загрузите pdf-файл с презентацией и нажмите "Начать тренировку"</h3>
<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <input id="file-loading" type=file name=presentation onchange="onChange()">
    <input id="button-submit" type="submit" value="Начать тренировку" disabled="True">
</form>

{% endblock %}
