{% block header %}
<link rel="stylesheet" href="{{ versioned_url('css/header.css') }}">
{% endblock %}

{% block content %}
<div id="header">
    <span id="username"></span>
    <a id="trainings" href="/show_all_trainings">{{ t("Список тренировок") }}</a>
    <a id="interviews" href="/show_all_interviews">{{ t("Список интевью") }}</a>
    <span id="training-number"></span>
    <span id="current-points-sum"></span>
</div>

<script src="{{ versioned_url('js/libraries/jquery.min.js') }}"></script>
<script src="{{ versioned_url('js/user_info.js') }}"></script>
{% endblock %}