{% block header %}
<link rel="stylesheet" href="/static/css/header.css">
{% endblock %}

{% block content %}
<div id="header">
    <p id="username"></p>
    <a id="trainings" href="/show_all_trainings">Список тренировок</a>
    <p id="training-number"></p>
    &nbsp;
    <p id="current-points-sum"></p>

    <button id="version-review" onclick="location.href={{ url_for('routes_version.view_version') }}">Версия</button>
</div>


<script src="/static/js/libraries/jquery.min.js"></script>
<script src="/static/js/user_info.js"></script>

{% endblock %}