<!DOCTYPE html>
<html>
{% block header %}
{% include "header.html" %}
<link rel="stylesheet" href="{{ versioned_url('css/version.css') }}">
<link rel="stylesheet" href="{{ versioned_url('css/danger-alert.css') }}">
{% endblock %}


<body>
    <div id="version-error" class="alert alert-danger" role="alert">
        <p id="version-error-text"></p>
    </div>
    <table id="version-table"></table>
    {% block footer %} {% include "footer.html" %} {% endblock %}
</body>
<script src="{{ versioned_url('js/libraries/jquery.min.js') }}"></script>
<script src="{{ versioned_url('js/version.js') }}"></script>
</html>